@use '../utils' as *;

.it-custom-accordion {
    & .accordion-items {
        border-radius: 20px;
        background-color: var(--it-common-white);
        @media #{$lg,$md,$xs} {
            margin-bottom: 20px;
        }
    }
    & .accordion-buttons {
        position: relative;
        text-align: left;
        padding: 25px 30px;
        padding-right: 65px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        color: var(--it-common-black);
        font-family: var(--it-ff-cinzel-decorative);
        @media #{$xl,$lg} {
            font-size: 17px;
            padding: 20px 25px;
            padding-right: 65px;
        }
        @media #{$xs} {
            font-size: 16px;
            padding: 20px 25px;
            padding-right: 65px;
        }
        @media #{$sm} {
            font-size: 18px;
        }
        & span {
            display: inline-block;
            margin-right: 5px;
            & svg {
                width: 39px;
                height: 40px;

                @media #{$xs} {
                    width: 25px;
                }
            }
        }
        &::after {
            position: absolute;
            content: "\f106";
            font-family: 'Font Awesome 5 Pro';
            top: 50%;
            right: 30px;
            font-weight: 400;
            font-size: 16px;
            height: 25px;
            width: 25px;
            line-height: 25px;
            text-align: center;
            opacity: 1;
            border-radius: 50%;
            transform: translateY(-50%);
            color: var(--it-common-white);
            background-color: var(--it-theme-1);
        }
        &.collapsed {
            &::after {
                content: '\f107';
            }
        }
        &:not(.collapsed) {
            padding-bottom: 17px;
            @media #{$lg,$md,$xs} {
                padding-bottom: 12px;
            }
        }
    }
    & .accordion-body {
        padding: 0 35px;
        padding-bottom: 25px;
        position: relative;
        z-index: 1;
        @media #{$xl,$lg,$xs} {
            padding: 0 25px;
            padding-bottom: 25px;
        }
        & p {
            line-height: 1.7;
            font-size: 14px;
            margin-bottom: 4px;
            @media #{$lg,$md,$xs} {
                & br {
                    display: none;
                }
            }
        }
    }
}
.it-custom-accordion-2 {
    border-radius: 20px;
    border: 1px solid rgba(108, 117, 125, 0.2);
    & .accordion-items {
        border-radius: 20px;
        background-color: var(--it-common-white);
        &:first-child {
            & .accordion-buttons {
                &.collapsed {
                    border-radius: 20px 20px 0 0;
                }
                &:not(.collapsed) {
                    border-radius: 20px 20px 0 0;
                }
            }
        }
        &:last-child {
            & .accordion-buttons {
                &.collapsed {
                    border-radius: 0 0 20px 20px;
                }
            }
        }
    }
    & .accordion-buttons {
        position: relative;
        text-align: left;
        padding: 21px 30px;
        padding-left: 65px;
        width: 100%;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--it-common-black);
        background-color: var(--it-gray-1);
        font-family: var(--it-ff-spartan-semibold);
        border-bottom: 1px solid rgba(108, 117, 125, 0.2);
        @media #{$xs}{
            font-size: 12px;
            padding-left: 40px;
        }
        & span {
            line-height: 1;
            &:last-child {
                font-family: var(--it-ff-spartan-medium);
            }
        }
        &::after {
            position: absolute;
            content: "\f106";
            font-family: 'Font Awesome 5 Pro';
            top: 50%;
            left: 30px;
            font-weight: 400;
            font-size: 16px;
            height: 25px;
            width: 25px;
            line-height: 25px;
            text-align: center;
            opacity: 1;
            border-radius: 50%;
            transform: translateY(-50%);
            color: var(--it-common-black);
            background-color: var(--it-common-white);
            border: 1px solid rgba(0, 0, 0, 0.1);
            @media #{$xs}{
                left: 8px;
            }
        }
        &.collapsed {
            &::after {
                content: '\f107';
            }
        }
        &:not(.collapsed) {
            padding-bottom: 17px;
            @media #{$lg,$md,$xs} {
                padding-bottom: 12px;
            }
        }
    }
    & .accordion-body {
        padding: 30px;
        & .accordion-content {
            & ul {
                & li {
                    padding-left: 27px;
                    position: relative;
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media #{$lg,$md} {
                        font-size: 14px;
                    }                    
                    @media #{$xs} {
                        font-size: 14px;
                        flex-wrap: wrap;
                    }                    
                    @media #{$sm} {
                        flex-wrap: nowrap;
                    }                    
                    &:not(:last-child){
                        margin-bottom: 20px;
                    }
                    &:last-child {   
                        & .preview-box {
                            & a {
                                width: 77px;
                            }
                        }
                    }
                    & > span {
                        position: absolute;
                        top: -1px;
                        left: 0;
                    }
                }
            }
        }
        & .preview-box {
            display: flex;
            align-items: center;
            @media #{$xs}{
                margin-top: 15px;
            }
            @media #{$sm}{
                margin-top: 0;
            }
            & a {
                width: 115px;
                display: inline-block;
                text-decoration: underline;
                color: var(--it-theme-1);
                & svg {
                    display: inline-block;
                    margin-right: 10px;
                    margin-top: -2px;
                }
            }
        }
    }
}
