@use '../utils' as *;

/*----------------------------------------*/
/*  03. activities css start
/*----------------------------------------*/
.it-activities {
    &-area {
        @include background;
    }
    &-item {
        padding: 70px 20px;
        padding-bottom: 62px;
        position: relative;
        z-index: 2;
        transition: .3s;
        @media #{$xl,$lg,$md,$xs}{
            padding: 30px 20px;
            border-radius: 20px;
            border: 5px solid var(--it-theme-1);
            &:hover {
               border: 5px solid var(--it-theme-2); 
            }
        }
        &::before {
            position: absolute;
            content: url(../img/shape/activities-4-1.png);
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
            @media #{$xl,$lg,$md,$xs}{
                display: none;
            }
        }
        &::after {
            position: absolute;
            content: url(../img/shape/activities-4-2.png);
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -1;
            transition: .3s;
            -webkit-transform: perspective(400px) rotateX(90deg) scaleY(0.5);
            -ms-transform: perspective(400px) rotateX(90deg) scaleY(0.5);
            transform: perspective(400px) rotateX(90deg) scaleY(0.5);
            -webkit-transform-origin: center;
            -ms-transform-origin: center;
            transform-origin: center;
            transition-delay: .3s;
            transition-timing-function: ease-in-out;
            transition: .6s;
            transition-property: all;
            @media #{$xl,$lg,$md,$xs}{
                display: none;
            }
        }
        & p {
            font-size: 14px;
            margin: 0 20px;
            @media #{$xl,$lg,$xs}{
                margin: 0;
            }
        }
        &:hover {
            &::after {
                -webkit-transform: perspective(400px) rotateX(0deg) scaleY(1);
                -ms-transform: perspective(400px) rotateX(0deg) scaleY(1);
                transform: perspective(400px) rotateX(0deg) scaleY(1);
            }
            & .it-activities-icon {
                & svg,i {
                    color: var(--it-theme-2);
                }
            }
        }
    }
    &-icon {
        margin-bottom: 28px;
        & svg,i {
            transition: .3s;
            color: var(--it-theme-1);
        }
    }
    &-title {
        margin-bottom: 15px;
    }
    &-shape {
        &-1 {
            position: absolute;
            z-index: -1;
            top: 23%;
            left: 5%;
            @media #{$xl,$lg}{
                top: 10%;
                transform: scale(.5);
            }
            @media #{$md,$xs}{
                display: none;
            }
        }
        &-2 {
            position: absolute;
            z-index: -1;
            right: 7%;
            animation: rotate 15s linear infinite;
            @media #{$xl,$lg}{
                top: 10%;
                transform: scale(.5);
            }
            @media #{$md,$xs}{
                display: none;
            }
        }
    }
}
