@use '../utils' as *;

/*----------------------------------------*/
/*  08. campus css start
/*----------------------------------------*/
.it-campus {
    &-title {
        font-size: 24px;
        margin-bottom: 25px;
        @media #{$xl}{
            margin-bottom: 35px;
        } 
        @media #{$lg,$md,$xs}{
            font-size: 18px;
        } 
        @media #{$sm}{
            font-size: 22px;
        } 
    }
    &-thumb {
        mask-image: url(../img/campus/mask-2.svg);
        -webkit-mask-image: url(../img/campus/mask-2.svg);
        width: 100%;
        mask-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        height: 293px;
        border-radius: 20px;
        @media #{$xl}{
            height: 240px;
        }
        @media #{$lg,$md,$xs}{
            height: 100%;
            mask-image: unset;
           -webkit-mask-image: uunset;
        }
        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: 1.3s all ease;
        }
    }
    &-text {
        & p {
            @media #{$xxl}{
                & br {
                    display: none;
                }
            }
            @media #{$xl,$lg,$md,$xs}{
                font-size: 15px;
                & br {
                    display: none;
                }
            }
        }
    }
    &-item {
        padding: 25px;
        padding-top: 30px;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        background-color: var(--it-gray-1);
        @media #{$xl}{
            padding: 20px;            
            padding-top: 30px;
        }
        @media #{$sm}{
            padding: 30px;    
        }
        &:hover {
            & .it-campus-thumb {
                & img {
                    transform: scale(1.1);
                }
            }
            & .it-campus-arrow {
                & a {
                    color: var(--it-common-black);
                    background-color: var(--it-theme-2);
                }
            }
        }
    }
    &-arrow {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 0 20px 20px;
        border-radius: 0 0 0 70%;
        background-color: var(--it-common-white);    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -50px;
            width: 50px;
            height: 50px;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='rotate(90 100 100)'%3E%3Cpath d='M0,0 L0,200 Q0,0 200,0 Z' fill='white' /%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            background-repeat: no-repeat;
            @media #{$lg,$md,$xs}{
                left: -40px;
                width: 40px;
                height: 40px;
            } 
        }
        &::after {
            content: "";
            position: absolute;
            bottom: -50px;
            right: 0;
            width: 50px;
            height: 50px;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='rotate(90 100 100)'%3E%3Cpath d='M0,0 L0,200 Q0,0 200,0 Z' fill='white' /%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            background-repeat: no-repeat;
            @media #{$lg,$md,$xs}{
                bottom: -40px;
                width: 40px;
                height: 40px;
            } 
        }
        & a {
            display: inline-block;
            height: 83px;
            width: 83px;
            line-height: 83px;
            text-align: center;
            border-radius: 50%;
            color: var(--it-common-white);
            background-color: var(--it-theme-1);
            @media #{$lg,$md,$xs}{
                height: 55px;
                width: 55px;
                line-height: 55px;
            } 
            & svg {
                @media #{$lg,$md,$xs}{
                    height: 15px;
                } 
            }
        }
    }
}