@use '../utils' as *;

/*----------------------------------------*/
/*  13. choose css start
/*----------------------------------------*/

.it-choose {
    &-area {
        & .it-about-list-box ul li span svg,i {
            color: var(--it-theme-2);
        }
        &.it-choose-area.pt-185 {
            @media #{$xl,$lg,$md,$xs}{
                padding-top: 120px;
            }
        }
    }
    &-left {
        @media #{$md,$xs}{
            margin-bottom: 120px;
        }
        & .row {
            [class*=col-]:first-child{
                & .it-about-list-box {
                    @media #{$xs}{
                        margin-bottom: 30px;
                    } 
                }
            }
        }
        & p {
            margin-right: 40px;
            @media #{$lg,$md,$xs}{
                font-size: 14px;
            }
        }
    }
    &-thumb {
        & img {
            @media #{$xs}{
                width: 100%;
            }
        }
        &.style-1{
            margin-right: 125px;
            transform: rotate(168deg);
            @media #{$xs}{
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 60px;
                transform: rotate(180deg);
            }
            & img {
                border: 10px solid var(--it-common-white);
                outline: 10px solid var(--it-theme-1);
            }
        }
        &.style-2{
            margin-top: -45px;
            margin-left: 160px;
            position: relative;
            z-index: 1;
            @media #{$xs}{
                margin-top: 0;
                margin-left: 0;
            }
            & img {
                border: 10px solid var(--it-common-white);
                outline: 10px solid var(--it-theme-2);
                
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            top: -60%;
            left: 0;
            z-index: -1;
        }
        &-2 {
            position: absolute;
            top: -7%;
            left: 1%;
            z-index: -1;
        }
        &-3 {
            position: absolute;
            z-index: -1;
            top: 14%;
            right: -13%;
            animation: itrotate2 3s ease-in-out 3s infinite alternate forwards;
            @media #{$xxl,$xl,$lg,$md,$xs}{
                display: none;
            }
        }
        &-4 {
            position: absolute;
            z-index: -1;
            top: 10%;
            right: -6%;
            animation: rotate 2s linear infinite;
        }
    }
}
.it-choose-2 {
    &-item {
        padding: 50px 40px;
        padding-bottom: 35px;
        border-radius: 20px;
        background-color: var(--it-common-white);
        box-shadow: 0 20px 30px 0 rgba(1, 6, 20, 0.1);
        border: 1px solid rgba(26, 182, 157, 0.2);
        @media #{$xl,$lg,$md,$xs}{
           padding: 40px 20px;
        }
        & p {
            margin-bottom: 0;
            @media #{$lg,$md,$xs}{
                font-size: 14px;
            }
        }
        &:hover {
            & .it-choose-2-icon svg {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }
    &-title {
        font-size: 28px;
        margin-bottom: 10px;
        @media #{$xl,$lg,$md,$xs}{
           font-size: 22px;
        }
    }
    &-icon {
        margin-bottom: 22px;
        & svg{
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
            @media #{$xl,$lg,$md,$xs}{
                height: 55px;
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
        }
        &-2 {
            position: absolute;
            z-index: -1;
            top: 15%;
            right: 10%;
            animation: flap 0.4s infinite alternate ease-in-out;
            @media #{$lg}{
                top: 10%;
                transform: scale(.6);
            }
        }
    }
    &-style-2 {
        & .it-choose-2-title {
            font-size: 24px;
        }
        & .it-choose-2-item {
            border-radius: 20px;
            position: relative;
            z-index: 1;
            border: 1px solid rgba(248, 198, 47, 0.1);
            box-shadow: 0 20px 30px 0 rgba(1, 6, 20, 0.05);
            &:hover {
                & .shape-1 {
                    opacity: 0;
                }
                & .shape-2 {
                    opacity: 1;
                }
            }
            & .shape-1 {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: .4s;
            }
            & .shape-2 {
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                transition: .4s;
                opacity: 0;
            }
        }
        & .it-choose-2-icon {
            margin-bottom: 18px;
        }
    }
}
.it-choose-3 {
    &-item {
        position: relative;
        z-index: 1;
        padding: 40px 30px;
        padding-top: 45px;
        border-radius: 20px;
        overflow: hidden;
        transition: .4s;
        background-color: var(--it-common-white);
        box-shadow: 0 20px 30px 0 rgba(1, 6, 20, 0.05);
        border: 1px solid rgba(248, 198, 47, 0.1);
        & p {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.7;
            @media #{$xl}{
                padding: 0 20px;
            }
        }
        &:hover {
            border: 1px solid rgba(26, 182, 157, 0.2);
            box-shadow: 0 20px 30px 0 rgba(1, 6, 20, 0.1);
            & .it-choose-3-shape-1 {
                opacity: 1;
                left: 0;
            }
            & .it-choose-3-icon svg {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
    }
    &-title {
        font-size: 24px;
        margin-bottom: 13px;
    }
    &-icon {
        margin-bottom: 25px;
        & svg {
            -webkit-transition: all 300ms ease;
            transition: all 300ms ease;
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            top: 50%;
            left: -25%;
            z-index: -1;
            opacity: 0;
            transition: .7s all ease;
            transform: translateY(-50%);
        }
        &-2 {
            position: absolute;
            top: -25%;
            right: 0;
            z-index: -1;
            @media #{$md,$xs}{   
                display: none;
            }
        }
    }
}
.it-choose-4 {
    &-area {
        @include background;
    }
    &-thumb {
        border-radius: 18px;
        overflow: hidden;
        & img {
            width: 100%;
            border-radius: 18px;
            transition: 1.3s all ease;
        }
    }
    &-title {        
        font-size: 26px;
        margin-bottom: 22px;
        text-transform: uppercase;
        font-family: var(--it-ff-edensor-regular);
        @media #{$lg,$md,$xs}{
            font-size: 20px;
        }
    }
    &-number {
        position: absolute;
        z-index: 1;
        top: -30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: inline-block;
        height: 88px;
        width: 88px;
        line-height: 93px;
        text-align: center;
        border-radius: 50%;
        font-size: 20px;
        color: var(--it-common-white);
        outline: 5px solid #536f5a;
        background-color: var(--it-common-black);
        font-family: var(--it-ff-spartan-semibold);
        &::before {
            content: "";
            position: absolute;
            top: 30px;
            left: -35px;
            width: 34px;
            height: 30px;
            -webkit-transform: scaleX(-1) rotate(-90deg);
            transform: scaleX(-1) rotate(-90deg);
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg' transform='rotate(0)'%3E%3Cg transform='rotate(90 100 100)'%3E%3Cpath d='M0,0 L0,200 Q0,0 200,0 Z' fill='%23536f5a' /%3E%3C/g%3E%3C/svg%3E");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 29px;
            right: -37px;
            width: 34px;
            height: 30px;
            transform: rotate(0deg); 
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,0 L0,200 Q0,0 200,0 Z' fill='%23536f5a' /%3E%3C/svg%3E");
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }

        & i {
            line-height: 1;
            font-style: normal;
        }
    }
    &-item {
        border-radius: 20px;
        padding: 30px 23px;
        padding-top: 100px;
        margin-top: 30px;
        background-color: var(--it-common-white);
        &:hover {
            & .it-choose-4-thumb {
                & img {
                    transform: scale(1.2);
                }
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            top: 10%;
            left: 1.5%;
            animation: itswing 1s forwards infinite alternate;
            transform-origin: bottom center;
            @media #{$md,$xs}{
                display: none;
            }
            & img {                  
                @media #{$xl,$lg}{
                    transform: scale(.7);
                }
            }
        }
        &-2 {
            position: absolute;
            top: 10%;
            right: 5%;
            animation: rotate 15s linear infinite;
            @media #{$md,$xs}{
                display: none;
            }
            & img {                  
                @media #{$xl,$lg}{
                    transform: scale(.7);
                }
            }
        }
    }
}
.it-choose-5 {
    &-area {
        & .it-choose-section-title-box.mb-45 {
            @media #{$lg,$md,$xs}{
                margin-bottom: 30px !important;
            }  
        }
    }
    &-wrap {
        padding: 20px;
        padding-right: 140px;
        border-radius: 50px;
        background-color: var(--it-gray-1);
        @media #{$xxl,$xl,$lg}{
            padding-right: 40px;
        }
        @media #{$md,$xs}{
            padding-right: 20px;
            padding-bottom: 40px;
        }
    }
    &-list {
        &-box {
            & ul {
                & li {
                    padding-top: 35px;
                    list-style-type: none;
                    border-top: 1px solid rgba($color: #626263, $alpha: .3);
                    @media #{$xl,$lg,$md,$xs}{
                        padding-top: 25px;
                    }
                    &:last-child {
                        & .it-choose-5-list-content {
                           & p {
                               margin-bottom: 0;
                           }
                       }
                    }
                }
            }
        }
        &-content {
            & .title {
                font-size: 24px;
                position: relative;
                padding-left: 52px;
                margin-bottom: 11px;
                @media #{$xxl,$xl,$lg,$md}{
                    font-size: 21px;
                }
                @media #{$xs}{
                    font-size: 18px;
                    padding-left: 35px;
                }
                & span {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            & p {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.5;
                color: #61616a;
                margin-bottom: 33px;
                @media #{$xxl}{
                    font-size: 17px;
                }
                @media #{$xl,$lg,$md,$xs}{
                    font-size: 15px;
                    margin-bottom: 23px;
                }
            }
        }
    }
    &-right {
        padding-left: 105px;
        @media #{$xxl}{
            padding-left: 70px;
        }
        @media #{$xl}{
            padding-left: 50px;
        }
        @media #{$lg}{
            padding-left: 0;
        }
        @media #{$md,$xs}{
            padding-left: 0;
            margin-top: 50px;
        }
    }
    &-thumb {
        position: relative;
        z-index: 1;
        & img {
            max-width: inherit;
            @media #{$xxl,$xl,$lg,$md,$xs}{
                width: 100%;
            }
        }
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: -7%;
            z-index: -1;
            width: 100%;
            height: 74.5%;
            border-radius: 30px;
            transform: translateY(-50%);
            background-color: var(--it-theme-1);
            @media #{$lg,$md,$xs}{
                display: none;
            }
        }
    }
    &-shape-1 {        
        position: absolute;
        z-index: -1;
        bottom: -15%;
        right: 0;
    }
}