
@use '../utils' as *;

/*----------------------------------------*/
/*  28. newsletter css start
/*----------------------------------------*/

.it-newsletter {
    &-wrap {
        padding: 49px 78px;
        border-radius: 20px;
        background-color: var(--it-theme-1);
        @media #{$xl}{
            padding: 50px 45px;
        }
        @media #{$lg,$md}{
            padding: 50px 40px;
        }
        @media #{$xs}{
            padding: 40px 20px;
        }
        @media #{$sm}{
            padding: 40px 45px;
        }
        & .it-newsletter-input-box button {
            background-color: var(--it-theme-1);
            & svg,i {
                height: 17px;
                transition: .3s;
                color: var(--it-common-white);
            }
            &:hover {
                background-color: var(--it-theme-2);
                & svg,i {
                    color: var(--it-common-black);
                }
            }
        }
    }
    &-input {
        &-box {
            text-align: end;
            margin-left: 85px;
            @media #{$md}{
                margin-left: 0;
            }
            @media #{$xs}{
                margin-top: 30px;
                margin-left: 0;
            }
            & input {
                line-height: 69px;
                height: 69px;
                padding-left: 35px;
                padding-right: 90px;
                border-radius: 10px;
                background: #F0F4F5;
                border: 1px solid rgba(255, 255, 255, 0.1);
                @media #{$lg}{
                    height: 56px;
                    line-height: 56px;
                    padding-left: 25px;
                }
                @media #{$md,$xs}{
                    height: 50px;
                    line-height: 50px;
                    padding-left: 25px;
                    font-size: 14px;
                    padding-right: 80px;
                }
                &::placeholder {
                    @media #{$md,$xs}{
                        font-size: 14px;
                    }
                }
            }
            & button {
                position: absolute;
                top: 50%;
                right: 15px;
                width: 40px;
                height: 40px;
                padding: 0;
                border-radius: 10px;
                line-height: 1.7;
                transform: translateY(-50%);
                background-color: var(--it-theme-2);
                @media #{$lg}{
                    width: 50px;
                    height: 50px;
                    line-height: 1;
                    top: 50%;
                }
                @media #{$md,$xs}{
                    width: 42px;
                    height: 42px;
                    line-height: 1;
                    top: 50%;
                }
                & svg,i {
                    transition: .3s;
                    color: var(--it-common-black);
                    @media #{$lg,$md,$xs}{
                        height: 20px;
                    }
                }
                &:hover {
                    background-color: var(--it-theme-1);
                    & svg,i {
                        color: var(--it-common-white);
                    }
                }
            }
            & .it-btn-orange {
                padding: 19px 40px;
            }
        }
    }
    &-title {        
        font-size: 36px;
        line-height: 1.29;
        margin-bottom: 0;
        color: var(--it-common-white);
        @media #{$lg}{
            font-size: 28px;
        }
        @media #{$md}{
            font-size: 32px;
        }
        @media #{$xs}{
            font-size: 25px;
        }
    }
    &-shape-1 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }
    &-style-2 {
        & .it-newsletter-wrap {
            border-radius: 1000px;
            @media #{$md,$xs}{
                border-radius: 20px;
            }
        }
        & .it-newsletter-input {
            &-box {
                & input {
                    border-radius: 1000px;
                }
                & button {
                    position: absolute;
                    top: 49%;
                    right: 5px;
                    width: 63px;
                    height: 63px;
                    padding: 0;
                    border-radius: 50%;
                    line-height: 1.7;
                    transform: translateY(-50%);
                    background-color: var(--it-theme-1);
                    @media #{$lg}{
                        width: 50px;
                        height: 50px;
                        line-height: 1;
                        top: 50%;
                    }
                    @media #{$md,$xs}{
                        width: 42px;
                        height: 42px;
                        line-height: 1;
                        top: 50%;
                    }
                    & svg,i {
                        transition: .3s;
                        color: var(--it-common-white);
                        @media #{$lg,$md,$xs}{
                            height: 20px;
                        }
                    }
                    &:hover {
                        background-color: var(--it-theme-2);
                        & svg,i {
                            color: var(--it-common-black);
                        }
                    }
                }
            }
        }
    }
    &-style-3 {
        padding: 27px 55px;
        padding-right: 35px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.2);
        @media #{$xs}{
            padding: 40px 20px;
        }
        @media #{$sm}{
            padding: 40px;
        }
        & .it-newsletter-2-title {
            font-weight: 700;
            font-family: var(--it-ff-cinzel-decorative);
        }
        & .it-newsletter-input-box {
            & input {
                @media #{$xs}{
                    padding-left: 15px;
                    font-size: 12px;
                }
                &::placeholder {
                    @media #{$xs}{
                        font-size: 12px;
                    }
                }
            }
            & button {
                width: auto;
                height: auto;
                right: 8px;
                padding: 13px 30px;
                text-transform: uppercase;
                @media #{$xs}{
                    padding: 13px 15px;
                }
                & span {
                    & span {
                        color: var(--it-common-white);
                        @media #{$xs}{
                            font-size: 12px;
                        }
                    }
                }
                &:hover {
                    background-color: var(--it-theme-1);
                }
            }
        }
    }
    &-style-4 {
        padding: 46px 78px;
        background-color: var(--it-theme-2);
        @media #{$xs}{
            padding: 40px 20px;
        }
        @media #{$sm}{
            padding: 40px;
        }
        & .shape {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}
.it-newsletter-2 {
    &-area {
        @media #{$md,$xs}{            
            padding-top: 0;
        }
        & .it-newsletter-input-box {
            margin-left: 0;
            text-align: center;
            max-width: 575px;
            margin: 0 auto;
            & input{
                height: 65px;
                line-height: 65px;
                padding-right: 170px;
            }
            & .it-btn-yellow {
                right: 5px;
                width: auto;
                height: auto;
                padding: 13px 30px;
                text-transform: uppercase;
                @media #{$lg,$md,$xs}{
                    right: 15px;
                }
            }
        }
    }
    &-shape {
        &-1 {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            z-index: -2;
            transform: translateY(-50%);
        }
        &-2 {
            position: absolute;
            bottom: 0;
            left: -2%;
        }
        &-3 {
            position: absolute;
            top: -10%;
            left: -10%;
            z-index: -1;
            animation: itswing 2s forwards infinite alternate;
            transform-origin: bottom left;
        }
        &-4 {
            position: absolute;
            top: -35%;
            left: 15%;
            animation: ittranslateX2 5s forwards infinite alternate;
        }
        &-5 {
            position: absolute;
            top: -29%;
            right: 11%;
            z-index: -1;
            animation: itswing 2.5s forwards infinite alternate;
            transform-origin: bottom center;
        }
        &-6 {
            position: absolute;
            top: -27%;
            right: 26%;
            animation: itswing 2s forwards infinite alternate;
            transform-origin: bottom left;
        }
        &-7 {
            position: absolute;
            bottom: 0;
            right: -1%;
            animation: ittranslateX2 5s forwards infinite alternate;
        }
    }
    &-title {
        font-size: 36px;
        font-family: var(--it-ff-heading);
        @media #{$xl}{
            font-size: 32px;
            & br {
                display: none;
            }
        }
        @media #{$lg}{
            font-size: 25px;
            & br {
                display: none;
            }
        }
        @media #{$md}{
            padding: 17px 0;
        }
        @media #{$xs}{
            padding: 17px 0;
            font-size: 22px;
            & br {
                display: none;
            }
        }
    }
    &-content {
        padding: 115px 0;
        @media #{$md,$xs}{            
            padding-top: 0;
        }
        & p {
            line-height: 1.75;
            margin-bottom: 30px;
            color: rgba(31, 36, 50, 0.7);
            @media #{$xs}{
                font-size: 14px;
                & br {
                    display: none;
                }
            }
        }
    }
    &-wrap {
        @media #{$md}{   
            padding-top: 60px;        
            border-radius: 20px; 
            background-color: var(--it-theme-1);
        }
        @media #{$xs}{   
            padding: 60px 20px;       
            border-radius: 20px; 
            background-color: var(--it-theme-1);
        }
        & .it-newsletter-2-title {
            @media #{$md,$xs}{   
                color: var(--it-common-white);
            }
        }
        & .it-newsletter-2-content {
            @media #{$xs}{   
                padding: 0;
            }
            & p {
                @media #{$md,$xs}{   
                    color: var(--it-common-white);
                }
            }
        }
    }
}
.it-newsletter-3 {
    &-wrap {
        padding: 40px;
        border-radius: 10px;
        background: var(--it-common-white);
        border: 1px solid rgba(255, 255, 255, 0.3);
        @media #{$xs}{
            padding: 40px 20px;
        }
        & p {
            line-height: 1.75;
            margin-bottom: 22px;
            color: var(--it-common-black);
            @media #{$lg,$md,$xs}{   
                font-size: 14px;
            }
        }
        & .it-newsletter-input-box {
            margin-left: 0;
            & input {
                height: 69px;
                line-height: 69px;
                padding-right: 170px;
                border-radius: 1000px;
                color: var(--it-common-white);
                background-color: var(--it-common-black);
                @media #{$lg,$md,$xs}{   
                    font-size: 14px;
                }
                @media #{$lg,$md,$xs}{
                    height: 60px;
                    line-height: 60px;
                }
                &::placeholder {
                    color: rgba(255, 255, 255, 0.8);
                    @media #{$lg,$md,$xs}{   
                        font-size: 14px;
                    }
                }
            }
        }
        & .it-newsletter-input-box .it-btn-yellow {
            right: 8px;
            width: auto;
            height: auto;
            padding: 13px 30px;
            text-transform: uppercase;
        }
        & .it-newsletter-2-title.mb-25{
            @media #{$md,$xs}{   
                font-size: 24px;
                margin-top: 20px;
                margin-bottom: 0 !important;
            }
        }
        & .it-newsletter-3-right {
            & div {
                @media #{$md,$xs}{   
                    width: 100%;
                    margin-top: 0;
                }
            }
        }
    }
    &-right {
        & span {
            color: var(--it-theme-1);
            @media #{$lg,$md,$xs}{   
                font-size: 14px;
            }
            & i {
                font-style: normal;
                text-decoration: underline;
            }
        }
    }
    &-social {
        & a {
            display: inline-block;
            height: 42px;
            width: 42px;
            line-height: 37px;
            text-align: center;
            border-radius: 50%;
            color: var(--it-theme-1);            
            border: 1px solid var(--it-theme-1);
            @media #{$lg,$md,$xs}{   
                height: 35px;
                width: 35px;
                line-height: 29px;
            }
            & svg {
                @media #{$lg,$md,$xs}{   
                    height: 14px;
                }
            }
            &:not(:last-child){
                margin-right: 11px;
            }
            &:hover {
                color: var(--it-common-white);
                background-color: var(--it-theme-1);
            }
        }
    }
    &-shape-1 {
        position: absolute;
        top: -26%;
        right: 11.5%;
        animation: rotate 15s linear infinite;
        @media #{$md,$xs}{
            display: none;
        }
    }
}