@use '../utils' as *;

/*----------------------------------------*/
/*  39. text slider css start
/*----------------------------------------*/
.it-text {
    &-slider{
        &-ptb {
            padding: 25px 0;
            background-color: var(--it-theme-6);
        }
        &-item {
            display: flex;
            align-items: center;
            & span {
                font-size: 50px;
                line-height: 1;
                color: var(--it-common-white);
                font-family: var(--it-ff-newyork);
                display: inline-block;
            }
            & img {
                margin: 0 20px;
            }
        }
    
        &-active{
            & .slider-transtion {
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
            }
            & .swiper-slide{
                width: auto;
            }
        }
    }
}