@use '../utils' as *;

/*----------------------------------------*/
/*  42. zoom-metting css start
/*----------------------------------------*/
.it-metting {
    &-area {
        & .it-event-countdown-time ul li {
        margin: 0 6px;
  border: 2px solid var(--it-theme-1);
  list-style: none;
  padding: 8px;
  border-radius: 5px;
  font-weight: 500;
  & span{
  margin-right: 3px;
  }
        }
        & .section-border {
            margin-bottom: 35px;
            padding-bottom: 40px;
            text-align: center;            
            border-bottom: 1px solid rgba(3, 89, 78, 0.2);

        }
        & .it-details-title {
            @media #{$lg,$md}{
                font-size: 27px;
            }
            @media #{$xs}{
                font-size: 24px;
            }
        }
        & .it-course-sidebar {
            & .course-info ul li {
                padding-left: 0;
                font-family: var(--it-ff-spartan-medium);
                & span {
                    color: var(--it-common-black);
                    font-family: var(--it-ff-spartan-semibold);
                }
                @media #{$lg,$md,$xs}{
                   font-size: 14px;
                }
                &:last-child {
                    font-size: 16px;
                    display: inline-block;
                    line-height: 1.5;
                    @media #{$lg,$md,$xs}{
                        font-size: 14px;
                    }
                    & span {
                        margin-right: 5px;
                    }
                }
            }
            & .btn-border {
                margin-top: 15px;
                padding-top: 40px;    
                border-top: 1px solid rgba(3, 89, 78, 0.2);
            }
            & .contact-section {
                padding-bottom: 40px;
            }
        }
    }
    &-right {
        @media #{$lg,$md,$xs}{
            margin-top: 70px;
        }
    }
}